In [20]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
file_path = '/content/drive/My Drive/Colab Notebooks/employee.csv'
data = pd.read_csv(file_path)
print(data.head())

   id            timestamp        country employment_status  job_title  \
0   1  12/11/2018 10:52:26       Slovenia         Full time  Developer
1   2    1/5/2017 16:57:50  United States         Full time        DBA
2   3   12/18/2017 8:13:15         Sweden         Full time        DBA
3   4   12/27/2018 4:56:52  United States         Full time        DBA
4   5  12/11/2018 14:07:58  United States         Full time  Developer

   job_years is_manager  hours_per_week  telecommute_days_per_week  \
0    4.78393        Yes            40.0                        0.0
1    5.00000         No            40.0                        5.0
2    1.00000         No            40.0                        0.0
3    1.00000         No            40.0                        2.0
4    3.00000         No            40.0                        2.0

             education is_education_computer_related certifications  \
0  Bachelors (4 years)                           Yes             No
1  Bachelors (4 years)                           Yes             No
2              Masters                           Yes            Yes
3  Bachelors (4 years)                            No             No
4              Masters                           Yes            Yes

         salary
0   7187.743094
1  10000.000000
2   7000.000000
3   8333.000000
4   7137.000000

In [28]:
data.drop(['id', 'timestamp'], axis=1, inplace=True)
data['hours_per_week'].fillna(data['hours_per_week'].mean(), inplace=True)
data['telecommute_days_per_week'].fillna(data['telecommute_days_per_week'].median(), inplace=True)
data['is_education_computer_related'].fillna('No', inplace=True)

categorical_cols = [col for col in data.columns if data[col].dtype == 'object']
numerical_cols = [col for col in data.columns if data[col].dtype in ['int64', 'float64']]

numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

y = data['salary']
X = data.drop('salary', axis=1)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = Pipeline(steps=[('preprocessor', preprocessor),
                        ('regressor', LinearRegression())])
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [ ]:

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")